* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(255, 165, 0);
}
.container {
  margin: 16px;
  padding: 16px;
  /* margin-left: auto;

  margin-right: auto; */
}

.card-text {
  text-align: center;
  padding: 13px;
  font-size: 16px;
  color: rgb(37, 36, 36);
}
.card-plain-text {
  text-align: center;
  padding: 13px;
  font-size: 16px;
  color: rgb(37, 36, 36);
  line-height: 26px;
  font-family: sans-serif;
}
.card-plain-text h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(34, 33, 33);
}

.card-text h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(34, 33, 33);
}
button {
  padding: 10px;
  background-color: rgb(21, 140, 161);
  border-style: none;
  margin-top: 16px;
}
i {
  color: white;
}
.icons i {
  color: rgb(13, 137, 153);
}
.icons {
  margin-top: 20px;
}
button:focus {
  outline: none;
}

.first-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first-card-container:hover .first-card {
  display: none;
}

.first-card-container {
  padding: 10px;
  margin: 10px;
  background-color: floralwhite;
  width: 260px;
  height: 280px;
  transition: 1s;
}

.first-card {
  /* padding: 10px;
  margin: 10px; */
  background-color: floralwhite;
  width: 260px;
  height: 280px;
  transition: 320ms;
  position: absolute;
}

.first-card img {
  max-height: 100px;
  max-width: 100px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;
}
